* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
    font-family: 'Poppins', sans-serif;
}

body {
    display: flex;
}

.left-container {
    
}

.right-container {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.form-details {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
}

.title {
    padding-left: 30px;
}

.form-input {
    display: flex;
    flex-direction: column;
    padding: 15px 70px 15px 30px;
}

.form-button {
    margin-left: 30px;
    background-color: #596D48;
    border-radius: 10px;
    border: none;
    padding: 15px 20px;
    color: white;
}

.log-in {
    padding-top: 15px;
    margin-left: 30px;
}

.sub-text {
    padding-left: 30px;
    padding-right: 30px;
}

img {
    height: 100vh;
}

a {
    color: #596D48;
}